/* Layout for everything else */
*{
  margin: 0;
  padding: 0%;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2D3142;
  background-color: #FFFFFF;  
}

/* Layout for header */

header {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: #2D3142;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: .75;
  color: #D6D7D7;
}

/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;  
}

header nav ul li a:hover {
  color: #EF8354;
}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }
   
  header nav {
    margin-top: 14px;
  }
}

header nav div {display: none}
@media all and (max-width: 400px){
  header nav ul {
    display: table-column
  }
  header nav {
    justify-content: center;
    margin-right: 15px;
  }
  header nav div {display: flex;
  }
}

/* Layout of footer */
footer {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #2D3142;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  font-size: .9rem;
  line-height: .75;
  color: #FFFFFF
}

/* Classes */
.wrapper {
  margin: auto;
  width: 80%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.rounded-circle {
  border-radius: 5% !important;
}

.no-dot {
  list-style: none;
}

.under {
  text-decoration: underline;
}

.boarder {
  border: 0.2rem solid #EF8354;
}

/* Specific text layout */
h1 {
  color: #FFFFFF;
}

h2, h3 {
  text-align: center; 
}

img {
  width: 100%;  
}

a {
  color: #EF8354;
  text-decoration: none;
}

a:hover {
  color: #4F5D75;
}

 ul li {
  list-style-position: inside !important;  
  /* padding-left: 20px; */
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

* SECTIONS */

#intro, #projects, #contact {
  margin: 100px;
}

footer, #contact {
  margin-top: 100px;
}

#intro {
  margin-top: 60px;
}

#about {
  background-color: #D6D7D7;
  padding: 20px 0 30px 0;
  margin: 80px 0;
}

/* ---  Contact Form Design --- */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

/* Fieldset & Legend */

fieldset {
  padding: 10px 12px;  
  margin: 10px 20px;
  border-radius: 6px;
}

legend {
  padding: 3px 6px;
  border-right: 6px;
}